/* !VARIABLES */

:root {

    --header: #EAEAEA;
    --icon-message: #B1B1B1;
    --new-message: #8EDAFC;
    --my-message: #D5F9BA;
}

/*! COMMON*/
/* linear-gradient([direzione], [colore1] [posizione1], [colore2] [posizione2], ...) sintassi di base */
/* Il 180deg (o to bottom,)indica la direzione del gradiente, che va dal top verso il bottom dell'elemento. */

#app {
    background: linear-gradient(#009688 15%, #7e7f7c 10%);
    height: 100vh;
    width: 100%;
}


.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

img {
    width: 40px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    padding-left: 0;
    gap: 10px;
    color: rgb(143, 137, 137);
    font-size: .8rem;
}

li {
    padding-left: 10px;
    height: 70px;
    cursor: pointer;
}

.hover-li {
    background-color: #a3a0a0;
}

i {
    cursor: pointer;
}


/* !########################################################## */

/* ?MACRO CONTAINER */
#wrapper {
    width: 80%;
    height: 90%;
    /* debug */
}

#right {
    width: 65%;
    /* debug */
    /* border: 1px solid rgb(138, 65, 5); */
}

#left {
    width: 35%;
    border-right: 1px solid #c9c9c9;
    /* debug */
    /* border: 1px solid rgb(228, 9, 9); */
}

#left>.header {
    justify-content: space-between;
    gap: 20px;
}

#left>.notifications {
    gap: 10px;
}


/* !############################################################## */



/*! --------------------SECTION LEFT--------------------------- */


.header,
.notifications,
.search-bar {
    height: 50px;
    background-color: var(--header);
    padding: 0 10px;
    /* debug */
    /* border: 1px solid rgb(19, 46, 201); */
}

.search-bar {
    background-color: var();
}

/* -------------HEADER LEFT----------------------------- */

.main-avatar {
    gap: 10px;
    font-weight: bold;
}

#left .actions {
    gap: 20px;
}

/* ---------------NOTIFICATIONS------------------------------- */

.notifications {
    background-color: var(--new-message);
}

.notifications>a {
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


#action-message {
    font-size: .8rem;
    align-self: baseline;
}

#action-message span {
    font-weight: bold;
}

#action-message p a {
    color: #7a7a79;
}

/* ------------------SEARCH-BAR------------------------------------- */

.search-bar {
    overflow: hidden;
    gap: 30px;
    /* debug */
    /* border: 1px solid gray; */
}

.search-bar .input-chat {
    border-radius: 0.8rem;
    width: 200px;
    font-size: 14px;
    padding-left: 5px;

    /* larghezza iniziale dell'input */
    transition: width 0.5s ease-in-out;
    /* transizione per animare l'allungamento */
}

.input-chat:focus {
    width: 350px;
    /* larghezza dell'input quando è in focus */
}

.input-chat::placeholder {
    font-size: 14px;
    /* dimensione del carattere del placeholder */
}


/* -----------------CHAT LIST LEFT-------------------------------------- */

.chat-list {
    height: calc(100% - 150px);
    background-color: #ece2eb;
    overflow-y: auto;
}

.chat {
    gap: 10px;
}

.chat-list .name,
.header-right .name {
    font-size: 1rem;
    font-weight: bold;
}

.chat-list .last-chat,
.chat-list .time,
.header-right .last-chat {
    font-size: .7rem;
    color: var(--icon-message);
    padding: 5px 8px 0 0;
}

.chat-list .time {
    align-self: flex-start;
}


/*! -----------------------SECTION RIGHT--------------------------- */

/* ---------------------------HEADER RIGHT----------------------------- */

.header-right-chat {
    height: 100%;
}

#right .actions {
    align-self: center;
    gap: 20px;
}

#right .header-right .header-right-chat img {
    width: 40px;
}

#right .header-right .actions i {
    color: var(--icon-message);

}

/* -----------------MAIN WINDOW CHAT------------------------- */

.window-chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 40px 10px;
}

.green-message {
    background-color: var(--my-message);
    /* height: 40px; */
    margin-top: 50px;
    margin-left: 50%;
    word-wrap: break-word;
}

.white-message {
    background-color: white;
    margin-top: 50px;
}

.messaggi {
    max-width: 50%;
    min-width: 20%;
    border-radius: 20px;
    padding: 9px;
    justify-content: space-between;
    position: relative;
}

.ultimate {
    font-size: 12px;
    margin-left: 20px;
    align-self: flex-end;
}


.chevron-span {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
}

.chevron-span:hover {
    opacity: 1;
}

.minimenu {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.minimenu li {
    text-align: center;
    line-height: 50px;
    padding: 5px;
    color: #009688;
    width: 200px;
    cursor: pointer;
}

.minimenu li:hover {
    background-color: #c7bfbf;
}



/* -----------------MAIN INPUT WRITE CHAT------------------------- */

.input-area {
    height: 50px;
    background-color: var(--header);
    padding: 0 10px;

    /* debug */
    /* border: 1px solid rgb(19, 46, 201); */
}

.data-input {
    width: 100%;
    height: 90%;
    align-self: center;
    /* debug */
    /* border: 1px solid rgb(53, 195, 129); */
}

input {
    width: 100%;
    max-height: 90%;
    resize: none;
    border-radius: 20px;
    padding-left: 25px;

}

input::placeholder {
    font-size: 14px;
}

input.large {
    width: 80%;
    font-size: 20px;
}